@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --background: oklch(1 0 0);
}

@layer base {
  body {
    @apply text-neutral-900;
  }
}

.bg-green {
  background-color: #10b981;
}

.bg-brown {
  background-color: #ca8a04;
}
